page-patient {
  .bgc1 {
    // height: 100%;
    background-color: #429FE3;
  }
  .bgc1 p {
    color: #fff;
  }
  .bar-button-default-ios,
  .bar-button-default.bar-button-ios-default,
  .bar-button-clear-ios-default {
    color: #eeeeee;
  }
  .home-first {
    height: 90px;
    background: url(../assets/imgs/patient.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
  }
  .home-patient-wenzi {
    font-size: 20px;
    color: #fff;
    font-family: "微软雅黑";
    margin-left: 10px;
    margin-top: -10px;
  }
  .home-patient-senced {
    color: #fff;
    font-size: 16px;
    margin-top: -35px;
    margin-left: 5px;
  }
  .home-patient1 {
    margin-top: 100px;
  }
  .home-patient-button button {
    width: 340px;
    border: 0.55px solid #c8c7cc;
    background-color: #fff;
    color:#429FE3;
    border-radius: 5px;
  }
}
