page-about {
  .login-bgc {
    height: 100%;
    background: url(../assets/imgs/bg2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .login-img{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
  }
  .login-btn{
      margin-top: -15px;
  }
  
}
