page-detailsmodal {
  .bgc {
    background-color: #429FE3;
  }
  .bgc p {
    color: #fff;
  }
  .bar-button-default-ios,
  .bar-button-default.bar-button-ios-default,
  .bar-button-clear-ios-default {
    color: #eeeeee;
  }
}
